<div> 
    <!--Sei que não se usa <br>, mas é enquanto não tem o framework-->
        Nome: <input type="text" [(ngModel)]="usuario.nome" maxlength="50"><br><br>
        Telefone: <input type="text" [(ngModel)]="usuario.telefone" maxlength="13"><br><br>
        E-mail: <input type="text" [(ngModel)]="usuario.email" maxlength="50"><br><br>
        Sexo: 
            <select [(ngModel)]="usuario.sexo">
                <option>Masculino</option>
                <option>Feminino</option>
                <option>Indefinido</option>
            </select><br><br>    
        <button (click)='salvar()'>Salvar</button>

</div>
